<div class="text-layout">

  <h1>Hola mundo</h1>

  <button pButton icon="pi pi-check" iconPos="right" class="p-button-help" type="button" label="Click" ></button>


  <p-card header="header" class="p-card-header">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque culpa, cupiditate id placeat architecto temporibus libero. Eveniet veniam ipsam facere minima quos. Eaque repellat placeat magnam iure odit eveniet quasi porro officia aspernatur voluptatum mollitia, nisi rerum dolor ex assumenda? Nemo commodi exercitationem eius a sapiente quasi accusantium repellat deleniti ex ea vero molestias tempora fugiat enim, inventore magnam consequuntur nostrum nobis. Omnis quos minima sed velit? Placeat, nemo excepturi. Saepe cupiditate earum sit nobis, corrupti, eum similique libero accusamus illum iusto adipisci quis debitis enim quibusdam ratione consequatur quae explicabo quidem veniam nisi. Non sit vitae minima illo dolor!
</p-card>

</div>