<h2>Template: <small> Dinámicos</small> </h2>
<hr>


<form (ngSubmit)="guardar()" autocomplete="off" #miFormulario="ngForm">

    <!-- Nombre -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Personaje </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" [ngModel]="persona.nombre" name="nombre" required
                placeholder="Nombre de la persona">
            <span class="form-text text-danger" *ngIf="miFormulario.controls.nombre.touched &&
                         miFormulario.controls.nombre.invalid">
                Este campo es obligatorio
            </span>
        </div>
    </div>


    <!-- Agregar -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Agregar </label>
        <div class="col-sm-9">
            <div class="input-group">
                <input class="form-control" 
                type="text" 
                placeholder="Agregar juego favorito"
                [(ngModel)]="nuevoJuego"
                name="nuevoJuego"
                (keyup.enter)="agregarJuego()">

                <button class="btn btn-success " 
                type="button"
                (click)="agregarJuego()">
                    Agregar
                </button>
            </div>

        </div>
    </div>

    <!-- Lista de juegos favoritos -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label"> Nombre </label>
        <div class="col-sm-9">
            <div class="input-group mb-1" *ngFor="let juegos of persona.favoritos; let i=index">
                <input class="form-control mb-1" [(ngModel)]="juegos.nombre" name="favoritos_{{ i }}" required
                    type="text">
                <button class="btn btn-success " 
                        type="button"
                        (click)="eliminar( i )">
                    Eliminar
                </button>
            </div>
        </div>
    </div>




    <div class="mb-3 row">
        <div class="col-sm-9">
            <button class="btn btn-danger " type="button">
                Agregar
            </button>
        </div>
    </div>


</form>


<span>Persona</span>
<pre>{{ persona | json }} </pre>