<h2>Reactivo: Básicos</h2>
<hr>


<div class="row">
    <div class="col">
        <form  autocomplete="off">
            <!-- campo de producto -->
            <div class="mt-3 row">
                <label class="col-sm-3 col-form-label">Prodcto</label>
                <div class="col-sm-9">
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre del producto">
                    <span class="from-text text-danger"
                          > Debe de ser de 3 letras</span>
                </div>
            </div>
            <!-- campo de precio -->
            <div class="mt-3 row">
                <label class="col-sm-3 col-form-label">Precio</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            placeholder="Nombre del producto">
                    <span class="from-text text-danger"
                          > El precio debe ser 0 o mayor</span>
                    
                </div>
            </div>
            <!-- campo de existencias -->
            <div class="mt-3 row">
                <label class="col-sm-3 col-form-label">Existencias del producto</label>
                <div class="col-sm-9">
                    <input type="number"
                            class="form-control"
                            placeholder="Nombre del producto">
                </div>
            </div>

            <div class="mt-3 row">
                <div class="col">
                    <button  type="submit" class="btn btn-primary float-end">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="row">
    <div class="col">
        <!-- <span>Valid</span>
        <pre> {{ miformulatio.valid }} </pre>

        
        <span>Touched</span>
        <pre> {{ miformulatio.touched | json}} </pre>
        
        <span>Prestin</span>
        <pre> {{ miformulatio.pristine | json}} </pre>

        <span>Value</span>
        <pre> {{ miformulatio.value | json}} </pre> -->
    </div>
</div>
