<h1 class="mt-5">Agregar Producto</h1>
<hr>

<div class="row g-3 aling-item-center mb-3">

    <form>
        <div class="col-auto">
            <label class="col-form-label"> Nombre: </label>
        </div>
    
        <div class="col-auto">
            <input class="form-control">
        </div>
    
        <div class="col-auto">
            <span class="form-text">
                Este campo es requerido
            </span>
        </div>
    
        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-danger">
                    Guardar
                </button>
            </div>
        </div>
    </form>
    
</div>